.main{
    width: 100%;
    height: 100%;
    background-image: url("../../assets/1699309025995.jpg");
    background-repeat: no-repeat, repeat;
    background-size: 30% auto;
    background-position: center;
}